@import "./../../../assets/css/variables";

a { 
    color: $light;
    text-transform: uppercase; 

    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
}

a:hover {
    color: $light;
}

nav {
    z-index: 99999;
    height: 5rem;
}

li {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.scrolled { 
    transition: background-color 200ms linear; 
    background-color: $light;
    color: $dark;
    box-shadow: 0 0 3px rgb(60 72 88 / 15%);
}

.scrolled a { color: $dark; }