@import "variables";

footer .col-md-4 { padding-right: 2rem; }

footer .list p::before { content: '›\a0\a0'; }

footer .icons-list i::after { content: '\a0\a0'; }

footer h5 { margin-bottom: 1rem; }

footer a:hover { color: $light; }

footer { 
    background-color: $primary; 
    font-weight: 300;
}

footer h5 {
    color: $light;
}

footer a { 
    color: $light; 
    font-weight: $thin-font;
}

footer .logo {
    width: 35%;
    margin-bottom: 1rem;
}

footer .social-media-links i {
    cursor: pointer;

    padding: 0.5rem;

    border-radius: 10px;
    border-color: white; 
    border-style: solid; 
    border-width: 1px; 
    border-color: rgb(255, 255, 255, 0.25);

    opacity: $opacity;
    transition: $transition;
}

footer .social-media-links i:hover {
    border-color: white;
    opacity: 1;
}