@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

$primary: #464D77;
$secundary: #36827F;
$tertiary: #F9DB6D;
$dark: #877666;
$light: #F4EDED;

$opacity: 0.6;
$transition: 0.3s;

$bold-font: 300;
$normal-font: 600;