@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap');

$primary: #464D77;
$secondary: #36827F;
$tertiary: #F9DB6D;

$dark: #877666;
$darkest: #212121;

$light: #F4EDED;

$opacity: 0.6;
$transition: 0.3s;

$thin-font: 400;
$bold-font: 600;
$normal-font: 800;