<div class="row align-items-center h-100">
    <div class="col-md-5 float-right">
        <iframe 
            src="https://www.youtube.com/embed/7X8II6J-6mU" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <h2>{{ title }}</h2>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam 
            est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius 
            modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
        <button class="btn btn-success">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=5551985233236">
                Pedir um orçamento
            </a>
        </button>
    </div>
</div>