@import "assets/css/variables";
@import "assets/css/footer";

html,
body {
    height: 100%;
    background-color: $light;
    overflow-x: hidden!important;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.8vw;
    font-weight: 300;

    cursor: default;
}

a {
    cursor: pointer;
    font-weight: $bold-font;
    transition: $transition;
}

a:hover {
    font-weight: $normal-font;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -283px;
}

#push {
    height: 283px;
}

#copyright {
    font-size: small;
}