@import "assets/css/variables";
@import "assets/css/footer";

html,
body {
    height: 100%;

    overflow-x: hidden!important;
    cursor: default;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.8vw;
    font-weight: $thin-font;

    color: $font-color;
    background-color: $light;
}

h1, h2, h3, h4, h5 {
    color: $dark;
}

::-moz-selection { 
    color: $light;
    background: $primary-dark;
}
  
::selection {
    color: $light;
    background: $primary-dark;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: $secondary;
    font-weight: $bold-font;
    transition: $transition;
}

a:hover {
    font-weight: $normal-font;
    color: $tertiary;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -283px;
}

#push {
    height: 283px;
}

#copyright {
    font-size: small;
}

.flag {
    cursor: pointer!important;
    border: 1px solid white;
    margin-right: 2px;
}